<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="index.html">דף הבית</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="expenses.html">דף הוצאות</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="profile.html">דף פרופיל</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="usermanagment.html">ניהול משתמש</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="login.html">התחברות</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="register.html">הרשמה</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ResetPassword.html">איפוס סיסמא</a>
      </li>
</ul>